models/.data/eng/images/huggingface.co/datasets/mankind1023/receipt-dataset-standardized/data.zip filter=lfs diff=lfs merge=lfs -text
models/.data/downloads/downloaded_images/ara/mahmoud2019-receiptqa/archives/test_images.zip.part-8492-1772824074805-jl3fjl9n filter=lfs diff=lfs merge=lfs -text
models/data/downloads/downloaded_images/ara/mahmoud2019-receiptqa/archives/test_images.zip.part-8492-1772824074805-jl3fjl9n filter=lfs diff=lfs merge=lfs -text
